In [159]:
#import statements
import csv
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize import PunktSentenceTokenizer
import pickle
from nltk.stem import *
from nltk import word_tokenize
from nltk.stem.porter import *
from nltk.stem import WordNetLemmatizer

In [2]:
AP_NEWS_DIR = 'datasets/apnews' 
ALL_NEWS_DIR = 'datasets/all-the-news'

In [60]:
df = pd.read_csv(ALL_NEWS_DIR+'/articles1.csv')
df = df.append(pd.read_csv(ALL_NEWS_DIR+'/articles2.csv'))
df = df.append(pd.read_csv(ALL_NEWS_DIR+'/articles3.csv'))
english_sent_tokenizer = nltk.data.load('datasets/english.pickle')

In [61]:
df.columns

Index(['Unnamed: 0', 'id', 'title', 'publication', 'author', 'date', 'year',
       'month', 'url', 'content'],
      dtype='object')

In [62]:
df.head()

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."

In [71]:

#df2.set_index(['col1', 'col2'])

In [150]:
head_df

,title,content
0,House Republicans Fret About Winning Their Hea...,WASHINGTON — Congressional Republicans have...
1,Rift Between Officers and Residents as Killing...,"After the bullet shells get counted, the blood..."
2,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...","When Walt Disney’s “Bambi” opened in 1942, cri..."
3,"Among Deaths in 2016, a Heavy Toll in Pop Musi...","Death may be the great equalizer, but it isn’t..."
4,Kim Jong-un Says North Korea Is Preparing to T...,"SEOUL, South Korea — North Korea’s leader, ..."

In [151]:
def remove_location_from_news(text):
    ts = text.split('—')
    if(len(ts[0])< 35):
        print(ts[0])
        return '—'.join(ts[1:])
    return text

In [175]:
c = 0
stemmer = PorterStemmer()
lemmatizer = WordNetLemmatizer()
def tokenize_text(text, use_lemmatizer = True, use_stemmer = False):
    global c
    text = remove_location_from_news(text)
    try:
        #print(text)
        sent_l = english_sent_tokenizer.tokenize(text)
        if(use_lemmatizer):
            sent_l = [' '.join([lemmatizer.lemmatize(w) for w in word_tokenize(sent)]) for sent in sent_l]
        if(use_stemmer):
            sent_l = [' '.join([stemmer.stem(w) for w in word_tokenize(sent)]) for sent in sent_l]
        return sent_l
    except Exception as e:
        print(e)
        print("Couldn't tokenize :")
        c+=1
        #print((text))
        return [text]

In [180]:
def parse_dataframe(df):
    df['content']=df['content'].apply(lambda x : tokenize_text(x))
    return df

In [181]:
df2 = df[['title','content']]
head_df = df2.head(100)
temp = parse_dataframe(head_df)

WASHINGTON
SEOUL, South Korea
LONDON
BEIJING
THOMPSONS, Tex.
WEST PALM BEACH, Fla.
MUMBAI, India
BAGHDAD
SYDNEY, Australia
PARIS
WASHINGTON
WASHINGTON
ISTANBUL
WASHINGTON
JERUSALEM
PARIS
OTTAWA
RIO DE JANEIRO
WASHINGTON
WASHINGTON
WASHINGTON
LOS ANGELES
JERUSALEM
QINGYUAN, China
BEIJING
WASHINGTON
WASHINGTON
WASHINGTON
WASHINGTON
CHARLESTON, S. C.
ISTANBUL
BEIRUT, Lebanon
WASHINGTON
MANILA
BEIJING
DORAL, Fla.
LONDON
LECCE, Italy
WASHINGTON
WASHINGTON
WASHINGTON
WASHINGTON
WASHINGTON
WASHINGTON
TALLADEGA, Ala.
DETROIT

/anaconda3/envs/cs259/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [183]:
temp.head()

,title,content
0,House Republicans Fret About Winning Their Hea...,[Congressional Republicans have a new fear whe...
1,Rift Between Officers and Residents as Killing...,"[After the bullet shell get counted , the bloo..."
2,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",[When Walt Disney ’ s “ Bambi ” opened in 1942...
3,"Among Deaths in 2016, a Heavy Toll in Pop Musi...","[Death may be the great equalizer , but it isn..."
4,Kim Jong-un Says North Korea Is Preparing to T...,"[North Korea ’ s leader , Kim said on Sunday t..."

In [174]:
word_tokenize('isn\'t')
lemmatizer.lemmatize('n\'t')

"n't"

In [166]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/satyavasanthreddytumati/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

'meddling'

In [157]:
nltk.download('')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/satyavasanthreddytumati/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True