In [1]:
#import statements
import csv
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize import PunktSentenceTokenizer
import pickle

In [2]:
AP_NEWS_DIR = 'datasets/apnews' 
ALL_NEWS_DIR = 'datasets/all-the-news'

In [60]:
df = pd.read_csv(ALL_NEWS_DIR+'/articles1.csv')
df = df.append(pd.read_csv(ALL_NEWS_DIR+'/articles2.csv'))
df = df.append(pd.read_csv(ALL_NEWS_DIR+'/articles3.csv'))
english_sent_tokenizer = nltk.data.load('datasets/english.pickle')

In [61]:
df.columns

Index(['Unnamed: 0', 'id', 'title', 'publication', 'author', 'date', 'year',
       'month', 'url', 'content'],
      dtype='object')

In [62]:
df.head()

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."

In [71]:

#df2.set_index(['col1', 'col2'])

In [117]:
df2 = df[['title','content']]
head_df = df2.head()

In [118]:
head_df

,title,content
0,House Republicans Fret About Winning Their Hea...,WASHINGTON — Congressional Republicans have...
1,Rift Between Officers and Residents as Killing...,"After the bullet shells get counted, the blood..."
2,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...","When Walt Disney’s “Bambi” opened in 1942, cri..."
3,"Among Deaths in 2016, a Heavy Toll in Pop Musi...","Death may be the great equalizer, but it isn’t..."
4,Kim Jong-un Says North Korea Is Preparing to T...,"SEOUL, South Korea — North Korea’s leader, ..."

In [119]:
def remove_location_from_news(text):
    ts = text.split('—')
    if(len(ts[0])< 35):
        print(ts[0])
        return '—'

In [120]:
c = 0
def tokenize_text(text):
    global c
    remove_location_from_news(text)
    try:
        #print(text)
        w = english_sent_tokenizer.tokenize(text)
        print(len(w))
        return w
    except:
        print("Couldn't tokenize :")
        c+=1
        print((text))
        return text

In [121]:
head_df_c = head_df.copy()
head_df.loc[:,'content']=head_df_c['content'].apply(lambda x:(tokenize_text(x) ))

26
215
115
79
25

/anaconda3/envs/cs259/lib/python3.6/site-packages/pandas/core/indexing.py:621: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [38]:
dftemp.head()

0    [WASHINGTON  —   Congressional Republicans hav...
1    [After the bullet shells get counted, the bloo...
2    [When Walt Disney’s “Bambi” opened in 1942, cr...
3    [Death may be the great equalizer, but it isn’...
4    [SEOUL, South Korea  —   North Korea’s leader,...
Name: content, dtype: object

In [68]:
c

0